<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Estacionamento 24 horas - Planos</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Estacionamento 24 horas - Planos">
		<meta name="keywords" content="Estacionamento, 24 horas, carros, motos, fácio acesso, planos">
		<meta name="author" content="Paulo W. Limaverde">
		<meta name="robots" content="index, follow">
</head>
<body>
	<header>
		<img src="img/logo.png" alt="Estacionamento 24 horas - logo" width="100" height="100">
		<p id="logo">Estacionamento 24 horas</p>
		<p>Slogan da empresa aqui</p>
	</header>

	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="servicos.html">Serviços</a></li>
			<li><a href="sobre.html">Sobre</a></li>
			<li><a href="planos.html">Planos</a></li>
			<li><a href="contato.html">Contato</a></li>
		</ul>
	</nav>

	<main>
			<h1>Conheça nossos planos</h1>
			<h2>Planos que cabem no seu bolso</h2>
		<!--Seção de Planos-->
		<section>
			<h3>Plano 1</h3>
			<div id="plano1">
				Lorem Ipsum é simplesmente texto fictício da indústria tipográfica e de impressão. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando uma impressora desconhecida pegou uma galé do tipo e subiu para fazer um livro de espécimes de tipo. Ele sobreviveu não apenas cinco séculos, mas também o salto para a composição eletrônica, permanecendo essencialmente inalterado. Foi popularizado nos anos 60 com o lançamento de folhas de Letraset contendo passagens de Lorem Ipsum, e mais recentemente com software de editoração eletrônica como Aldus PageMaker incluindo versões de Lorem Ipsum.
			</div>
			<br>
			<div id="image1">
				<img src="img/estacionamento.jpg" width="200" height="100" alt="Estacionamento">
			</div>
			<button>Contratar</button>
		</section>
		<section>
			<h3>Plano 2</h3>
			<div id="plano2">
				Lorem Ipsum é simplesmente texto fictício da indústria tipográfica e de impressão. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando uma impressora desconhecida pegou uma galé do tipo e subiu para fazer um livro de espécimes de tipo. Ele sobreviveu não apenas cinco séculos, mas também o salto para a composição eletrônica, permanecendo essencialmente inalterado. Foi popularizado nos anos 60 com o lançamento de folhas de Letraset contendo passagens de Lorem Ipsum, e mais recentemente com software de editoração eletrônica como Aldus PageMaker incluindo versões de Lorem Ipsum.
			</div>
			<br>
			<div id="image2">
				<img src="img/estacionamento.jpg" width="200" height="100" alt="Estacionamento">
			</div>
			<button>Contratar</button>
		</section>

	</main>
	<hr>
	<footer>
		
		<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="servicos.html">Serviços</a></li>
			<li><a href="sobre.html">Sobre</a></li>
			<li><a href="planos.html">Planos</a></li>
			<li><a href="contato.html">Contato</a></li>
		</ul>
		</nav>

		<section id="copyright">
			<h2>Direitos</h2>
			<p>Todos os direitos reservados | Desenvolvido por Paulo W. Limaverde</p>
		</section>
	</footer>
</body>
</html>